<div class="container createBiodataMobile" ng-class="user.profileTemplate" ng-controller="BiodataController">
	<div class="row">
		<div class="col-md-12">
			<!-- Middle Section -->
			<section id="middle-section">
			
				<div class="mobileTabGroup">
					<div class="mobileTabContent">
						<div class="mobileTopHead"><a href="javascript:void(0);" class="backButton" back-button>back</a><h4>Frequently Asked Questions about the easyBiodata Relationship Manager</h4></div>
						
						<div class="modal-Cuswindow left-border">
							<h4>What is this service?</h4>
							<p>easyBiodata Relationship Manager (eRM) is a new and exclusive service from easyBiodata that helps you find the right match by offering you hand-picked, carefully tailored biodatas of potential marital candidates.</p>
							
							<h4>How much does it cost?</h4>
							<p>Currently, for a limited period of time, we are offering this personalized premium service (usually worth $150/month) for free.</p>
							
							<h4>How do I activate this service?</h4>
							<p>After opting in for the service, you will receive a short questionnaire to help us better understand your personal needs, as well as a shortlisted biodata from your eRM where you can see information about a matching candidate.</p>						
							<ul>
								<li><strong>1.</strong> If you like the candidate, the eRM will guide you step-by-step through the process of learning more about the candidate. If there is a   mutual interest, the eRM will help you to contact each other or set up a meeting.</li>
								<li><strong>2.</strong> If for any reason you don't like the candidate, you can let the eRM know the reasons and the eRM will use your feedback to shortlist another biodata, more suited to your preferences. You can reject as many biodatas as you like - and all information you provide to the eRM will be kept strictly confidential.</li>
								<li><strong>3.</strong> Your eRM may also share some limited information you provided (e.g., your interests, profile picture, gothra, etc.) with other participants in the program that could be interested in you.</li>
							</ul>						
							<h4>Is my private information secure?</h4>
							<p>Your privacy is very important to us. Your eRM will therefore NEVER share your contact information (such as email, or telephone number) with anyone unless you explicitly ask for exchange of the contact information because you have established mutual interest with a potential match.</p>
						</div>
						
					</div>	
				</div>
			
			</section>
		</div>
	</div>
</div>