<div class="container createBiodataMobile" ng-class="user.profileTemplate" ng-controller="BiodataController">
	<div class="row">
		<div class="col-md-12">
			<!-- Middle Section -->
			<section id="middle-section">
			
				<!-- Kundali Preview -->
				<div class="mobileTabGroup">
					<div class="mobileTabContent">
						<div class="mobileTopHead"><a href="javascript:void(0);" class="backButton" back-button>back</a></div>
						<div class="mobileKundaliName">amit shrivastav kundali</div>
						<div class="kundli-preview"><img src="images/kundli-img.png" /></div>
						<div class="kundli-preview"><img src="images/kundli-img.png" /></div>
					</div>	
				</div>
				<!-- /Kundali Preview -->
			
			</section>
		</div>
	</div>
</div>