<div class="container createBiodataMobile" ng-class="user.profileTemplate" ng-controller="BiodataController">
	<div class="row">
		<div class="col-md-12">
			<!-- Middle Section -->
			<section id="middle-section">
			
				<div class="mobileTabGroup">
					<div class="mobileTabContent">
						<div class="mobileTopHead"><a href="javascript:void(0);" class="backButton" back-button>back</a><h4>Tell us what you are looking for in a potential spouse</h4></div>
						
						<div class="potential-notification">
							<ul class="noti-list cusRadioType">
								<li>
									<strong>1.</strong> <div class="contentInner"><div class="contentInnerMain">Do you want your spouse to be of same caste?</div></div>
									<div class="noti-list-form">
										<input id="career_oriented_wife1" type="radio" checked="checked" name="career_oriented_wife" />
										<label for="career_oriented_wife1">Yes</label>
										<input id="career_oriented_wife2" type="radio" name="career_oriented_wife" />
										<label for="career_oriented_wife2">No</label>
										<input id="career_oriented_wife3" type="radio" name="career_oriented_wife" />
										<label for="career_oriented_wife3">No Preference</label>
									</div>
								</li>
								<li>
									<strong>2.</strong> <div class="contentInner"><div class="contentInnerMain">Do you prefer your spouse to have the same religion as you?</div></div>
									<div class="noti-list-form">
										<input id="responsibility_towards_their_parents1" type="radio" name="responsibility_towards_their_parents" />
										<label for="responsibility_towards_their_parents1">Yes</label>
										<input id="responsibility_towards_their_parents2" type="radio" checked="checked" name="responsibility_towards_their_parents" />
										<label for="responsibility_towards_their_parents2">No</label>
										<input id="responsibility_towards_their_parents3" type="radio" checked="checked" name="responsibility_towards_their_parents" />
										<label for="responsibility_towards_their_parents3">No Preference</label>
									</div>
								</li>
								<li>
									<strong>3.</strong> <div class="contentInner"><div class="contentInnerMain">Do you prefer your spouse to be a vegetarian?</div></div>
									<div class="noti-list-form">
										<input id="shift_another_country1" type="radio" checked="checked" name="shift_another_country" />
										<label for="shift_another_country1">Yes</label>
										<input id="shift_another_country2" type="radio" name="shift_another_country" />
										<label for="shift_another_country2">No</label>
										<input id="shift_another_country3" type="radio" name="shift_another_country" />
										<label for="shift_another_country3">No Preference</label>
									</div>
								</li>
								<li>
									<strong>4.</strong> <div class="contentInner"><div class="contentInnerMain">Do you prefer your spouse to be a non-smoker?</div></div>
									<div class="noti-list-form">
										<input id="let_drive_lifepartner1" type="radio" checked="checked" name="let_drive_lifepartner" />
										<label for="let_drive_lifepartner1">Yes</label>
										<input id="let_drive_lifepartner2" type="radio" name="let_drive_lifepartner" />
										<label for="let_drive_lifepartner2">No</label>
										<input id="let_drive_lifepartner3" type="radio" name="let_drive_lifepartner" />
										<label for="let_drive_lifepartner3">No Preference</label>
									</div>
								</li>
								<li>
									<strong>5.</strong> <div class="contentInner"><div class="contentInnerMain">Do you prefer your spouse to be a non-drinker?</div></div>
									<div class="noti-list-form">
										<input id="share_household_works_with_partner1" type="radio" checked="checked" name="share_household_works_with_partner" />
										<label for="share_household_works_with_partner1">Yes</label>
										<input id="share_household_works_with_partner2" type="radio" name="share_household_works_with_partner" />
										<label for="share_household_works_with_partner2">No</label>
										<input id="share_household_works_with_partner3" type="radio" name="share_household_works_with_partner" />
										<label for="share_household_works_with_partner3">No Preference</label>
									</div>
								</li>
								<li>
									<strong>6.</strong> <div class="contentInner"><div class="contentInnerMain">Would you consider a candidate who was previous married (divorced)?</div></div>
									<div class="noti-list-form">
										<input id="same_cast_gotra1" type="radio" checked="checked" name="same_cast_gotra" />
										<label for="same_cast_gotra1">Yes</label>
										<input id="same_cast_gotra2" type="radio" name="same_cast_gotra" />
										<label for="same_cast_gotra2">No</label>
										<input id="same_cast_gotra3" type="radio" name="same_cast_gotra" />
										<label for="same_cast_gotra3">No Preference</label>
									</div>
								</li>
								<li>
									<strong>7.</strong> <div class="contentInner"><div class="contentInnerMain">Would you consider a candidate who was previous married (widowed)?</div></div>
									<div class="noti-list-form">
										<input id="donated_blood1" type="radio" checked="checked" name="donated_blood" />
										<label for="donated_blood1">Yes</label>
										<input id="donated_blood2" type="radio" name="donated_blood" />
										<label for="donated_blood2">No</label>
										<input id="donated_blood3" type="radio" name="donated_blood" />
										<label for="donated_blood3">No Preference</label>
									</div>
								</li>
							</ul>
							<a href="javascript:void(0);" class="btn-green templateSaveBtn">SAVE & RETURN</a>
						</div>
						
					</div>	
				</div>
			
			</section>
		</div>
	</div>
</div>