<div class="container createBiodataMobile" ng-class="user.profileTemplate" ng-controller="BiodataController">
	<div class="row">
		<div class="col-md-12">
			<!-- Middle Section -->
			<section id="middle-section">
			
				<div class="mobileTabGroup">
					<div class="mobileTabContent">
						<div class="mobileTopHead"><a href="javascript:void(0);" class="backButton" back-button>back</a><h4>Are you sure you want to deactivate your account?</h4></div>						
						<div class="modal-Cuswindow text-left myAccountModal closeAccounMobile">
							<h4>You can reactivate your account at any time by logging in again.</h4>
							<h4><strong>Choose one or more reasons for deactivating</strong></h4>
							<ul class="noti-list cusRadioType">
								<li>
									<div class="noti-list-form">
										<input id="closeAccount1" type="radio" checked="checked" name="closeAccount" />
										<label for="closeAccount1">I found my match.</label>
									</div>
								</li>
								<li>
									<div class="noti-list-form">
										<input id="closeAccount2" type="radio" name="closeAccount" />
										<label for="closeAccount2">I don't understand how to use easyBiodata.</label>
									</div>
								</li>
								<li>
									<div class="noti-list-form">
										<input id="closeAccount3" type="radio" name="closeAccount" />
										<label for="closeAccount3">I get too many emails from easyBiodata.</label>
									</div>
								</li>
								<li>
									<div class="noti-list-form">
										<input id="closeAccount4" type="radio" name="closeAccount" />
										<label for="closeAccount4">I did not create this account.</label>
									</div>
								</li>
								<li>
									<div class="noti-list-form">
										<input id="closeAccount5" type="radio" name="closeAccount" />
										<label for="closeAccount5">This is temporary. I'll be back.</label>
									</div>
								</li>
								<li>
									<div class="noti-list-form">
										<input id="closeAccount6" type="radio" name="closeAccount" />
										<label for="closeAccount6">I have another easyBiodata account.</label>
									</div>
								</li>
								<li>
									<div class="noti-list-form">
										<input id="closeAccount7" type="radio" name="closeAccount" />
										<label for="closeAccount7">It is too expensive." and "I am dissatisfied with the match recommendation.</label>
									</div>
								</li>
								<li>
									<div class="noti-list-form">
										<input id="closeAccount8" type="radio" name="closeAccount" />
										<label for="closeAccount8">Free form text</label>
									</div>
								</li>
								<li>
									<div class="noti-list-form">
										<input id="closeAccount9" type="radio" name="closeAccount" />
										<label for="closeAccount9">Other</label>
									</div>
								</li>
							</ul>	
							<div class="center">
								<a href="#/" ng-click="ok()" class="btn-green">Do Not Deactive Account</a>
								<a href="#/" ng-click="ok()" class="btn-black">Deactive</a>
							</div>
						</div>	
						
					</div>	
				</div>
			
			</section>
		</div>
	</div>
</div>