<div class="container" ng-controller="BiodataController">
	<div class="row">
		<div class="col-md-12">
			
			<!-- Middle Section -->
			<section id="middle-section">
				
				<div class="middle-section-inner sampleBiodata">
				
					<!-- Biodata Preview Congrats -->
					<div class="biodata-sample-msg">
						Like this Biodata format? Create your biodata with Easybiodata!<br />
						<a href="#/create-biodata" class="biodata-sample-btn">Start Creating Biodata</a>
					</div>
					<!-- /Biodata Preview Congrats -->
					
					<!-- Biodata Preview Covers -->
					<div class="create-biodata-covers">
						<div class="covers-name covers-name-preview">
							<div class="covers-fields cname">
								<span>Amit Srivastava</span>
							</div>
						</div>
						<div class="covers-info-block">
							<a href="javascript:void(0);"><img  class="covers-info-block-pic" src="images/ProfilePic/profile-photo.jpg" alt="" /></a>
							<div class="covers-info-block-content">
								<div class="covers-info-block-content-heading">
									Contact Info For This Biodata
								</div>
								<div class="covers-info-block-content-field">
									<i class="fa fa-user"></i>  Rajinder Srivastava (Father)
								</div>
								<div class="covers-info-block-content-field">	
									<i class="fa fa-envelope"></i> rajinder@domain.com
								</div>
								<div class="covers-info-block-content-field">	
									<i class="fa fa-phone"></i> +91-123456789 
								</div>
								<div class="covers-info-block-content-field">	
									<i class="fa fa-map-marker"></i> Address
								</div>
							</div>
						</div>
						<div class="covers-symbol">
							<img src="images/symbols/om.svg" alt="" />
						</div>
					</div>
					<!-- /Biodata Preview Covers -->
					
					<!-- Biodata Preview Tables Desktop -->		
					<div class="create-biodata-tabs noShowMobile">
						  <div class="preview-biodata-tab-heading">Personal Information </div>
						  <div class="biodata-tab-info">
							  <div class="col-md-3 col-sm-6">
								<div class="CBD-fields">
									<div class="CBD-left">Born</div>
									<div class="CBD-right">
										<span class="cbd-dob">09 21, 1980</span><br />
										<span class="cbd-dot">05:30</span>
									</div>
								</div>
								<div class="CBD-fields">
									<div class="CBD-left">complexion</div>
									<div class="CBD-right">
										<span class="cbd-complex">Fair</span>
									</div>
								</div>
							  </div>							  
							  <div class="col-md-3 col-sm-6">
								<div class="CBD-fields">
									<div class="CBD-left">Birth Place</div>
									<div class="CBD-right">
										<span class="cbd-city">Mumbai</span><br />
										<span class="cbd-state">maharshtra</span><br />
										<span class="cbd-country">india</span>
									</div>
								</div>
								<div class="CBD-fields">
									<div class="CBD-left">Current City</div>
									<div class="CBD-right">
										<span class="cbd-city">Mumbai</span><br />
										<span class="cbd-state">maharshtra</span><br />
										<span class="cbd-country">india</span>
									</div>
								</div>
							  </div>
							  
							  <div class="col-md-3 col-sm-6">
								<div class="CBD-fields">
									<div class="CBD-left">gotra</div>
									<div class="CBD-right">
										<span class="cbd-gotra">singhal</span><br />
										<span class="cbd-religion">Religion</span><br />
										<span class="cbd-caste">Caste</span>
									</div>
								</div>
							  </div>
							  
							  <div class="col-md-3 col-sm-6">
								<div class="CBD-fields">
									<div class="CBD-left">Own car</div>
									<div class="CBD-right">
										<span class="cbd-ownCar">Yes</span>
									</div>
								</div>
								<div class="CBD-fields">
									<div class="CBD-left">Own House</div>
									<div class="CBD-right">
										<span class="cbd-ownHouse">Yes</span>
									</div>
								</div>
								<div class="CBD-fields">
									<div class="CBD-left">income</div>
									<div class="CBD-right">
										<span class="cbd-income"><span class="cbd-currency">&#8377;</span> 5-10 lakh / annum</span>
									</div>
								</div>
							  </div>
						  </div>
						  <div class="preview-biodata-tab-heading no-bg">Other Personal Information</div>
						  <div class="biodata-tab-info">
							  <div class="col-md-4 col-sm-6">
								<div class="CBD-fields">
									<div class="CBD-left">zodiac</div>
									<div class="CBD-right">
										<span class="cbd-zodiac">Libra</span>
									</div>
								</div>
								<div class="CBD-fields">
									<div class="CBD-left">manglik</div>
									<div class="CBD-right">
										<span class="cbd-maglik">Yes</span>
									</div>
								</div>
								<div class="CBD-fields">
									<div class="CBD-left">moonsign</div>
									<div class="CBD-right">
										<span class="cbd-moonsign">Varishba</span>
									</div>
								</div>
							  </div>
							  
							  <div class="col-md-4 col-sm-6">
								<div class="CBD-fields">
									<div class="CBD-left">height</div>
									<div class="CBD-right">
										<span class="cbd-height">5’10”</span>
									</div>
								</div>
								<div class="CBD-fields">
									<div class="CBD-left">interest</div>
									<div class="CBD-right">
										<span class="cbd-interest">Hockey</span>
									</div>
								</div>
								<div class="CBD-fields">
									<div class="CBD-left">Marital Status</div>
									<div class="CBD-right">
										<span class="cbd-marital">Single</span>
									</div>
								</div>
							  </div>
							  
							  <div class="col-md-4 col-sm-12">
								<div class="CBD-fields">
									<div class="CBD-left">additional information</div>
									<div class="CBD-right">
										<ul class="cbd-add-info-after">
											<li>Blood Group - <span>O+<span></li>
											<li>Diet - <span>Vegetarian<span></li>
											<li>Drink - <span>Often<span></li>
											<li>Smoke - <span>No<span></li>
										</ul>
									</div>
								</div>
								<div class="CBD-fields">
									<div class="CBD-left">personal information</div>
									<div class="CBD-right">
										<span class="cbd-per-info-after">loyrm ipsum is simply text</span>
									</div>
								</div>
							  </div>
						  </div>
						  <div class="preview-biodata-tab-heading">Education / Work Experience</div>
						  <div class="biodata-tab-info">
							<div class="col-md-6 col-sm-6">
								<div class="CBD-fields">
									<div class="CBD-left">Education</div>
									<div class="CBD-right">
										<span class="cbd-school">doon institute of management studies</span><br />
										<span class="cbd-dot">bachelors</span><br />
										<span class="cbd-dot">2004 to 2006</span><br />
										<span class="cbd-dot">b.com</span>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="CBD-fields">
									<div class="CBD-left">Work Experience</div>
									<div class="CBD-right">
										<span class="cbd-com-name">infosys</span><br />
										<span class="cbd-dot">manager</span><br />
										<span class="cbd-dot">chandigarh</span><br />
										<span class="cbd-dot">loyrm ipsum is simply dummy text</span>
									</div>
								</div>
							</div>
						  </div>		  			  
						  <div class="preview-biodata-tab-heading">Family Information</div>
						  <div class="biodata-tab-info">
							  <div class="col-md-6 col-sm-6">
								<div class="CBD-fields">
									<div class="CBD-left">Relationship to Candidate</div>
									<div class="CBD-right">
										<span class="cbd-add-relation">father</span><br />
										<span class="cbd-dot">tanveer shrivastav</span><br />
										<span class="cbd-dot">amritsar<br />punjab<br />
				india</span>
									</div>
								</div>
							  </div>
							  
							  <div class="col-md-6 col-sm-6">
								<div class="CBD-fields">
									<div class="CBD-left">Work Experience</div>
									<div class="CBD-right">
										<span class="cbd-add-work">coordinator</span><br />
										<span class="cbd-dot">loyrm ipsum is simply text</span>
									</div>
								</div>
							  </div>
						  </div>
						  <div class="preview-biodata-tab-heading">Paternal Side</div>
						  <div class="biodata-tab-info">
							  <div class="col-md-6 col-sm-6">
								<div class="CBD-fields">
									<div class="CBD-left">Relationship to Candidate</div>
									<div class="CBD-right">
										<span class="cbd-add-relation">grand father</span><br />
										<span class="cbd-dot">rajat shrivastav</span><br />
										<span class="cbd-dot">amritsar<br />
				punjab<br />
				india</span>
									</div>
								</div>
							  </div>
							  
							  <div class="col-md-6 col-sm-6">
								<div class="CBD-fields">
									<div class="CBD-left">Work Experience</div>
									<div class="CBD-right">
										<span class="cbd-add-work">project manager</span><br />
										<span class="cbd-dot">loyrm ipsum is simply text</span>
									</div>
								</div>
							  </div>
						  </div>
						  <div class="preview-biodata-tab-heading">Maternal Side</div>
						  <div class="biodata-tab-info">
							  <div class="col-md-6 col-sm-6">
								<div class="CBD-fields">
									<div class="CBD-left">Relationship to Candidate</div>
									<div class="CBD-right">
										<span class="cbd-add-relation">grandfather</span><br />
										<span class="cbd-dot">dharminder shrivastav</span><br />
										<span class="cbd-dot">haridwar<br />
				uttrakhand<br />
				india</span>
									</div>
								</div>
							  </div>
							  
							  <div class="col-md-6 col-sm-6">
								<div class="CBD-fields">
									<div class="CBD-left">Work Experience</div>
									<div class="CBD-right">
										<span class="cbd-add-work">army</span><br />
										<span class="cbd-dot">loyrm ipsum is simply text</span>
									</div>
								</div>
							  </div>
						  </div>
						  <div class="preview-biodata-tab-heading">Photos</div>
						  <div class="biodata-tab-info">
							  <div class="col-md-12">
								<div class="CBD-photo-thumb">
									<img src="images/ProfilePic/profile-photo.jpg" />
								</div>
								<div class="CBD-photo-thumb">
									<img src="images/ProfilePic/profile-photo.jpg" />
								</div>
								<div class="CBD-photo-thumb">
									<img src="images/ProfilePic/profile-photo.jpg" />
								</div>	
							  </div>
						  </div>
						  <div class="preview-biodata-tab-heading">Kundali</div>
						  <div class="biodata-tab-info">
							  <div class="col-md-12 center">
								<div class="kundli-preview"><img src="images/kundli-img.png" /></div>
								<div class="kundli-preview"><img src="images/kundli-img.png" /></div>
								<div class="center kundali-love">Made with <i class="kundali-heart"></i> on Easybiodata.com </div>
							  </div>
														  
						  </div>							
					</div>
					<!-- /Biodata Preview Tables Desktop -->
					
					<!-- Biodata Preview Tables Mobile -->		
					<div class="create-biodata-tabs ShowMobile">
						  <div class="preview-biodata-tab-heading">Personal Information </div>
						  <div class="biodata-tab-info">
							  <div class="col-md-3 col-sm-6">
								<div class="CBD-fields user-date-of-birth">
									<div class="CBD-left">Born  <span class="required">*</span></div>
									<div class="CBD-right">
									   <span class="cbd-dob" ng-show="user.dob">{{user.dob | date:'MMM dd, yyyy'}}</span><br ng-show="user.dob"/>
									   <span class="cbd-dotBorn" ng-show="user.dob">{{user.dob | date:'HH:mm a'}}</span>									   
									</div>
								</div>
								<div class="CBD-fields">
									<div class="CBD-left">Birth Place <span class="required">*</span></div>
									<div class="CBD-right">
										<span class="cbd-city">FairBanks1</span>
										<span class="cbd-state">Alaska</span>
										<span class="cbd-country">USA</span>
									</div>
								</div>
								<div class="CBD-fields">
									<div class="CBD-left">Current City</div>
									<div class="CBD-right" >
										<span class="cbd-city">FairBanks1</span>
										<span class="cbd-state">Alaska</span>
										<span class="cbd-country">USA</span>
									</div>
								</div>								
								<div class="CBD-fields">
									<div class="CBD-left">gotra</div>
									<div class="CBD-right">
										<span class="cbd-gotra">Srivastava</span>
										<span class="cbd-religion">Hindu</span>
										<span class="cbd-caste">Kayasth</span>
									</div>
							    </div>
								<div class="CBD-fields">
									<div class="CBD-left">zodiac</div>
									<div class="CBD-right">
										<span class="cbd-zodiac">Scorpio</span>
									</div>
								</div>
								<div class="CBD-fields">
									<div class="CBD-left">manglik</div>
									<div class="CBD-right">
										<span class="cbd-gotra">Yes</span>
									</div>
								</div>
								<div class="CBD-fields">
									<div class="CBD-left">moonsign</div>
									<div class="CBD-right">
										<span class="cbd-moonsign">Libra</span>
									</div>					
								</div>
								<div class="CBD-fields">
									<div class="CBD-left">Marital Status</div>
									<div class="CBD-right">
										<span class="cbd-marital">Single</span>
									</div>							
								</div>
								<div class="CBD-fields">
									<div class="CBD-left">height</div>
									<div class="CBD-right">
										<span class="cbd-gotra">5'10"</span><br>
									</div>
								</div>
								<div class="CBD-fields">
									<div class="CBD-left">Complexion</div>
									<div class="CBD-right">
										<span class="cbd-gotra">Fair</span>
									</div>
								</div>
								<div class="CBD-fields">
									<div class="CBD-left">income</div>
									<div class="CBD-right item-wrapper">
										<span class="cbd-income">
											<span><strong>&#8377;</strong> 3 - 4 Lakhs</span>
										</span>
									</div>
								</div>
								<div class="CBD-fields">
									<div class="CBD-left">Own House</div>
									<div class="CBD-right">
										<span class="cbd-gotra">Yes</span>
									</div>
								</div>
								<div class="CBD-fields">
									<div class="CBD-left">Own car</div>
									<div class="CBD-right">
										<span class="cbd-gotra">No</span>
									</div>
								</div>
								<div class="CBD-fields">
									<div class="CBD-left">Blood Type</div>
									<div class="CBD-right">
										<span class="cbd-gotra">A+</span>
									</div>
								</div>
								<div class="CBD-fields">
									<div class="CBD-left">Smoker</div>
									<div class="CBD-right">
										<span class="cbd-gotra">No</span>
									</div>
								</div>
								<div class="CBD-fields">
									<div class="CBD-left">Drinker</div>
									<div class="CBD-right">
										<span class="cbd-gotra">No</span>
									</div>
								</div>
								<div class="CBD-fields">
									<div class="CBD-left">Diet</div>
									<div class="CBD-right">
										<span class="cbd-gotra">Vegetarian</span>
									</div>	
								</div>
								<div class="CBD-fields">
									<div class="CBD-left">personal statement</div>
									<div class="CBD-right">
										<span class="cbd-per-info-detail">Personal Statement will be here...</span>
									</div>
								</div>								
							  </div>	
						  </div>						  
						  <div class="preview-biodata-tab-heading">Education</div>
						  <div class="biodata-tab-info">
							  <div class="col-md-6 col-sm-6">	
								<div class="CBD-fields">
									<div class="CBD-left">education</div>
									<div class="CBD-right">
										<span class="cbd-school"> GNDU</span><br />
										<span class="cbd-dot">Masters</span><br />
										<span class="cbd-dot">2012</span><br />
										<span class="cbd-dot">B.com</span>
									</div>
								</div>
							  </div>
						   </div>
						  <div class="preview-biodata-tab-heading">Work Experience</div>
						  <div class="biodata-tab-info">
							  <div class="col-md-6 col-sm-6">	
								<div class="CBD-fields">
									<div class="CBD-left">work experience</div>
									<div class="CBD-right">
										<span class="cbd-school">Think360</span><br />
										<span class="cbd-dot">Php Developer</span><br />
										<span class="cbd-dot">Chandigarh</span><br />
										<span class="cbd-dot">experience 2.2 years</span>
									</div>
								</div>
							  </div>
						   </div>		  			  
						  <div class="preview-biodata-tab-heading">Family Information</div>
						  <div class="biodata-tab-info">
							<div class="col-md-6 col-sm-6">
								<div class="CBD-fields">
									<div class="CBD-left">relationship to candidate</div>
									<div class="CBD-right">
										<span class="cbd-school">Brother</span><br />
										<span class="cbd-dot">Sumit Srivastava</span><br />
										<span class="cbd-dot">FairBanks1</span><br />
										<span class="cbd-dot">Alaska</span><br />
										<span class="cbd-dot">USA</span>
									</div>
								</div>
								<div class="CBD-fields">
									<div class="CBD-left">work experience</div>
									<div class="CBD-right">		
										<span class="cbd-add-work">Infosys</span><br/>
										<span class="cbd-dot">Lorem lipsum is simply dummy text...</span>
									</div>									
								</div>
							</div>
						  </div>		
						  <div class="subHeadingMobile">Paternal Side</div>
						  <div class="biodata-tab-info">
							<div class="col-md-6 col-sm-6">
								<div class="CBD-fields">
									<div class="CBD-left">relationship to candidate</div>
									<div class="CBD-right">
										<span class="cbd-school">GrandFather</span><br />
										<span class="cbd-dot">Rajat Srivastava</span><br />
										<span class="cbd-dot">FairBanks1</span><br />
										<span class="cbd-dot">Alaska</span><br />
										<span class="cbd-dot">USA</span>
									</div>
								</div>
								<div class="CBD-fields">
									<div class="CBD-left">work experience</div>
									<div class="CBD-right">		
										<span class="cbd-add-work">Project Manger</span><br/>
										<span class="cbd-dot">Lorem lipsum is simply dummy text...</span>
									</div>									
								</div>
							</div>
						  </div>
						   <div class="subHeadingMobile">Maternal Side</div>
						  <div class="biodata-tab-info">
							<div class="col-md-6 col-sm-6">
								<div class="CBD-fields">
									<div class="CBD-left">relationship to candidate</div>
									<div class="CBD-right">
										<span class="cbd-school">GrandFather</span><br />
										<span class="cbd-dot">Anirudh Srivastava</span><br />
										<span class="cbd-dot">FairBanks2</span><br />
										<span class="cbd-dot">Alaska</span><br />
										<span class="cbd-dot">USA</span>
									</div>
								</div>
								<div class="CBD-fields">
									<div class="CBD-left">work experience</div>
									<div class="CBD-right">		
										<span class="cbd-add-work">Clerk</span><br/>
										<span class="cbd-dot">Lorem lipsum is simply dummy text...</span>
									</div>									
								</div>
							</div>
						  </div>
						  <div class="preview-biodata-tab-heading">Photos & Kundali</div>
						  <div class="biodata-tab-info previewMobilePhoto">
							  <div class="col-md-12">
								<div class="CBD-photo-thumb">
									<img style="cursor:pionter;" src="images/ProfilePic/profile-photo.jpg" />
								</div>
								<div class="CBD-photo-thumb">
									<img style="cursor:pionter;" src="images/ProfilePic/profile-photo.jpg" />
								</div>							
							  </div>
							  <div class="subHeadingMobile">Kundali</div>
							  <div class="col-md-12 center fullKundaliSection">
								<div class="kundli-preview"><img src="images/kundli-img.png" /></div>
								<div class="kundli-preview"><img src="images/kundli-img.png" /></div>
								<div class="center kundali-love">Made with <i class="kundali-heart"></i> on Easybiodata.com </div>
							  </div>
						   </div>						  							
					</div>
					<!-- /Biodata Preview Tables Mobile -->					
					
				</div>				

			</section>
			<!-- /Middle Section -->				
			
		</div>
	</div>
</div>	