<div class="container">
	<div class="row mobile-border-top">
		<div class="col-md-12">
			
			<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 socialBox">
							<a target="_blank" href="https://www.facebook.com/easybiodata"><img src="images/facebook-icon.svg" /></a>
							<a target="_blank" href="https://twitter.com/easybiodata"><img src="images/twitter-icon.svg" /></a>
							<a target="_blank" href="https://www.youtube.com/user/easyBiodata"><img src="images/youtube-icon.svg" /></a>
							<a target="_blank" href="https://www.instagram.com/?hl=en"><img src="images/instagram-icon.png" /></a>
						</div>
					</div>	
					<div class="row">
						<div class="col-sm-12">
							<a ui-sref="howMakeBiodata">How to make Biodata</a> | <a ui-sref="aboutUs">About Us</a> | <a ui-sref="contactUs">Contact Us</a> | <a ui-sref="termsCondition">Terms of Use</a> | <a ui-sref="privacyPolicy">Privacy Policy</a> | © 2016 EasyBiodata
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12"><img class="f-logo" src="images/f-logo.jpg" alt="" /></div>
					</div>
				</div>
			</footer>
			<!-- /Footer -->
			
		</div>
	</div>
</div>	