<div class="container" ng-controller="BiodataController">
	<div class="row">
		<div class="col-md-12">
			
			<!-- Middle Section -->
			<section id="middle-section">
				
				<div class="middle-section-inner">
				
					<div class="forgot-password-section">
						<div class="access-section">       
							<div class="access-header">Reset Your Password</div>
							<div class="access-content">		
								<form name="userForgetPasswordForm"  ng-submit="openuserResetPassword()" role="form" novalidate="">
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon">
												<i class="fa fa-envelope"></i>
											</span>
											<input type="email" name="userEmail" id="userEmail" class="form-control" ng-model="user.email" placeholder="Enter Your Email Addresss" required />
											<div ng-messages="userForgetPasswordForm.userEmail.$error" ng-show="userForgetPasswordForm.userEmail.$dirty" role="alert">
												<div ng-message="required">Please enter email.</div>
												<div ng-message="email">Please enter valid email.</div>
											</div>
										</div>											
									</div>
									<div class="form-actions">
										<button type="submit" ng-disabled="userForgetPasswordForm.$invalid" class="reset-pass">SEND LINK TO RESET PASSWORD TO MY EMAIL</button>
										<span class="not-member">Not a Member? <a href="#/create-biodata">Sign up</a></span>
									</div>			
									<div class="or-option"><span>OR</span></div>
									<div class="opt-msg">Send OTP to the phone number ending: xxxxxx0840</div>
									<a class="opt-btn" ng-click="openuserOptPassword()" href="javascript:void(0);">SEND OTP TO MY PHONE</a>								
								</form>
								
								<!-- Reset Password Popup -->
								<div user-reset-password-modal=""></div>
								<!-- /Reset Password Popup -->
								
								<!-- Send OPT Popup -->
								<div user-opt-password-modal=""></div>
								<!-- /Send OPT Popup -->
								
							</div>
						</div>
					</div>
					
				</div>

			</section>
			<!-- /Middle Section -->				
			
		</div>
	</div>
</div>	