<div class="container" ng-controller="BiodataController">
	<div class="row">
		<div class="col-md-12">
			
			<!-- Middle Section -->
			<section id="middle-section">
				
				<div class="middle-section-inner">
				
					<div class="forgot-password-section">
						<div class="access-section">
							<div class="access-header">Reset Your Password<!-- <span class="sub-heading">Read password Requirements Carefully</span> --></div>
							<div class="access-content">		
								<form name="userResetPasswordForm" role="form" novalidate>
									<div class="form-group mobile-showPassSpace">
										<div class="input-group">
											<span class="input-group-addon">
												<i class="fa fa-lock"></i>
											</span>
											<input type="{{inputType}}" name="userPassword" id="reset-password1" class="form-control" ng-model="user.password" placeholder="Enter Password" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^a-zA-Z])/" ng-minlength="8" ng-maxlength="20" required/>
											<div class="hide-showBox">
												<input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()"/>
												<label for="checkbox" ng-if="passwordCheckbox">Hide</label>
												<label for="checkbox" ng-if="!passwordCheckbox">Show</label>
											</div>
											<div ng-messages="userResetPasswordForm.userPassword.$error" ng-show="userResetPasswordForm.userPassword.$dirty" role="alert">
												<div ng-message="required">Please enter password.</div>
												<div ng-message="minlength">Password should be minimum 8 letters.</div>
												<div ng-message="maxlength">Password should be maximum 20 letters.</div>
												<div ng-message="pattern">Password should contain atleast 1 uppercase, 1 lowercase and 1 numeric.</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon">
												<i class="fa fa-lock"></i>
											</span>
											<input type="password" name="userConfirmPassword" compare-to="user.password" id="reset-password2" class="form-control" ng-model="user.confirmPassword" placeholder="Re-enter Password" required/>
											<div ng-messages="userResetPasswordForm.userConfirmPassword.$error" ng-show="userResetPasswordForm.userConfirmPassword.$dirty" role="alert">
												<div ng-message="required">Please enter confirm password</div>
												<div ng-message="compareTo">Confirm password doesnot match</div>
											</div>
										</div>
										<span ng-show="">Password is required</span>
									</div>
									<div class="form-actions">
										<button type="submit" class="reset-pass" ng-href="#/password-success" >submit</button>
									</div>							
								</form>							
							</div>
						</div>
					</div>
					
				</div>				

			</section>
			<!-- /Middle Section -->				
			
		</div>
	</div>
</div>	