<div class="container" ng-controller="UsersController">
	<div class="row">
		<div class="col-md-12">
			
			<!-- Middle Section -->
			<section id="middle-section">
				
				<div class="middle-section-inner">
				
					<div class="password-sucess-section">
						<div class="sucess-check"><i class="check-icon"></i></div><br />
						Congratulations! You’ve successfully changed your password.
						<br />
						<a href="javascript:void(0);" class="btn-green">LOGIN HERE</a>
					</div>
					
				</div>				

			</section>
			<!-- /Middle Section -->				
			
		</div>
	</div>
</div>	