<div class="container">
	<div class="row">
		<div class="col-md-12">
			
			<!-- Middle Section -->
			<section id="middle-section">
				
				<div class="middle-section-inner makeBiodata">
				
					<h2 class="page-heading page-headingBorder">How to Make Biodata</h2>	
					<br >
					<div class="red-heading">A Solution to Your Matrimonial Search</div>
					<div class="Makebiodata-video">
						<iframe id="the-iframe" class="hidee" width="420" src="https://www.youtube.com/embed/ZJXZP_UJVIQ" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
						<a href="javascript:void(0);" id="cover"><img src="images/video-play-icon.svg" alt="" /></a>			
					</div>
					<h4>Because some things should be...easy!</h4>
					<p>easyBiodata.com is here to make Creating, Sharing, and Managing your Biodata easier than ever. Whether you are the parent, extended family member. or matrimonial candidate yourself, this site will help with your matrimonial search.</p>
					<p>easyBiodata.com helps you spend less time sending emails and editing your Biodata so that you can spend more time finding the perfect match. Do not forget to take a look at our premium matchmaking service as well.</p>
					<a ui-sref="createBiodata" class="btn-orange">get started</a>
					
					<div class="matrimonials-box">
						<div class="red-heading">Your Matrimonial Search Starts Here</div>
						<div class="matrimonials-col">
							<div class="matrimonials-col-icon">
								<img src="images/create-icon-light-gray.svg" alt="" />
							</div>
							<div class="matrimonials-col-content bnone">
								<h5>Create</h5>
								<p>Biodata. It is the first impression of the future bride, the groom, and the entire family to potential marital candidates. Recipients’ impression of your family changes based on how your Biodata looks.</p>
								<p>easyBiodata.com allows you to:</p>
								<ul class="matrimonial-lists">
									<li>Create a well-organized professional-looking Biodata.</li>
									<li>Within less than 15 minutes.</li>
								</ul>
							</div>
						</div>
						<div class="matrimonials-col">
							<div class="matrimonials-col-icon">
								<img src="images/share-icon-light-gray.svg" alt="" />
							</div>
							<div class="matrimonials-col-content">
								<h5>Share</h5>
								<p>Sharing Biodata is easier and more secure with easyBiodata.com whether you are the parents or extended family members helping the matrimonial search.</p>
								<p>easyBiodata.com allows you to:</p>
								<ul class="matrimonial-lists">
									<li>Keep your Biodata up-to-date.</li>
									<li>Have more control over the security of your personal and family information which were not previously possible with emails.</li>
								</ul>
							</div>
						</div>
						<div class="matrimonials-col">
							<div class="matrimonials-col-icon">
								<img src="images/print-icon-light-gray.svg" alt="" />
							</div>
							<div class="matrimonials-col-content bbnone">
								<h5>Manage</h5>
								<p>Once your Biodata is ready to go, easybiodata.com provides you with several options for printing. You will be able to quickly bring your digital Biodata to the physical world.</p>
								<p>easyBiodata.com allows you to:</p>
								<ul class="matrimonial-lists">
									<li>Print your Biodata in color or black & white when you are ready to share.</li>
									<li>Choose the resolution Biodata photos.</li>
								</ul>
							</div>
						</div>
					</div>
					
				</div>

			</section>
			<!-- /Middle Section -->
		
		</div>
	</div>
</div>
