<div class="container">
	<div class="row">
		<div class="col-md-12">
			
			<!-- Middle Section -->
			<section id="middle-section">
				
				<div class="middle-section-inner">
					<div class="mobileBGcolor">
						<a href="javascript:void(0);" class="ShowMobile backButton memberBackBtn" back-button>back</a>
						<h2 class="center">Your Biodata looks great!<span class="sub-heading">You're ready to Share it!</span></h2>
					</div>
					<div class="biodata-plan-option">
						<div class="biodata-plan-option-col">
							<h3>Basic</h3> 
							<p>Share to get Biodata access plus 3 free matches (1 Week)</p>
							<a ui-sref="shareBiodata" class="btn-plan">Share Now</a>
							<p class="biodata-plan-free">Free for limited time!</p>
						</div>
						<div class="biodata-plan-option-col pro">
							<h3>Pro</h3>
							<p>Buy to get Biodata access plus 15 free matches (1month)</p>
							<a ui-sref="payment" class="btn-plan">Buy Now</a>
							<p class="biodata-plan-free noShowMobile">&nbsp;</p>
						</div>
						<div class="biodata-plan-option-col">
							<h3>Plus</h3>
							<p>Buy to get Biodata access plus 30 free matches (2month)</p>
							<a ui-sref="payment" class="btn-plan">Buy Now</a>
							<p class="biodata-plan-free noShowMobile">&nbsp;</p>
						</div>
					</div>
					<div class="back-section noShowMobile"><a href="javascript:void(0);" back-button class="btn-black">BACK</a></div>	
				</div>

			</section>
			<!-- /Middle Section -->
		
		</div>
	</div>
</div>
