<div class="container" ng-controller="MemberController">
	<div class="row">
		<div class="col-md-12">
			
			<!-- Middle Section -->
			<section id="middle-section">
				
				<div class="middle-section-inner">
					<div class="membership-thanks">
						<h2 class="center">Thank you for your purchase!<span class="sub-heading">We have sent you a confirmation email</span></h2>
						<p>Your biodata is now available for download, print, and email.
	You also have 1 month of access to our Premium Matchmaking Service.</p>
						<p class="membershipDated">March 1<sup>st</sup> to March 31<sup>st</sup></p>
						<a class="btn-orange" href="#/create-biodata">view biodata</a>
						<a class="btn-green" href="#/dashboard">view dashboard</a>
					</div>
				</div>

			</section>
			<!-- /Middle Section -->
		
		</div>
	</div>
</div>
